<a href="https://colab.research.google.com/github/kevingutierrez07/data_science_entregables_gutierrez/blob/main/Datasets_Gutierrez.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [28]:
import pandas as pd
import numpy as np

# Dataset 1: Credit Card Approval Prediction

In [27]:
# Conexi√≥n al dataset dividido
set_part_1 = pd.read_csv('https://raw.githubusercontent.com/kevingutierrez07/data_science_entregables_gutierrez/main/application_record_1.csv')
set_part_2 = pd.read_csv('https://raw.githubusercontent.com/kevingutierrez07/data_science_entregables_gutierrez/main/application_record_2.csv')
set_part_3 = pd.read_csv('https://raw.githubusercontent.com/kevingutierrez07/data_science_entregables_gutierrez/main/application_record_3.csv')
set_part_4 = pd.read_csv('https://raw.githubusercontent.com/kevingutierrez07/data_science_entregables_gutierrez/main/application_record_4.csv')
set_credit = pd.read_csv('https://raw.githubusercontent.com/kevingutierrez07/data_science_entregables_gutierrez/main/credit_record.csv')

# Realizar las uniones utilizando la columna 'ID' como clave
set_completo = pd.merge(set_part_1, set_part_2, on='ID', how='outer')
set_completo = pd.merge(set_completo, set_part_3, on='ID', how='outer')
set_completo = pd.merge(set_completo, set_part_4, on='ID', how='outer')

# Verificar el resultado
print(set_completo.head(10))

        ID CODE_GENDER FLAG_OWN_CAR FLAG_OWN_REALTY  CNT_CHILDREN  \
0  5008804           M            Y               Y             0
1  5008805           M            Y               Y             0
2  5008806           M            Y               Y             0
3  5008808           F            N               Y             0
4  5008809           F            N               Y             0
5  5008810           F            N               Y             0
6  5008811           F            N               Y             0
7  5008812           F            N               Y             0
8  5008813           F            N               Y             0
9  5008814           F            N               Y             0

   AMT_INCOME_TOTAL      NAME_INCOME_TYPE            NAME_EDUCATION_TYPE  \
0          427500.0               Working               Higher education
1          427500.0               Working               Higher education
2          112500.0               Working  Secondary / secondary special
3          270000.0  Commercial associate  Secondary / secondary special
4          270000.0  Commercial associate  Secondary / secondary special
5          270000.0  Commercial associate  Secondary / secondary special
6          270000.0  Commercial associate  Secondary / secondary special
7          283500.0             Pensioner               Higher education
8          283500.0             Pensioner               Higher education
9          283500.0             Pensioner               Higher education

     NAME_FAMILY_STATUS  NAME_HOUSING_TYPE  DAYS_BIRTH  DAYS_EMPLOYED  \
0        Civil marriage   Rented apartment      -12005          -4542
1        Civil marriage   Rented apartment      -12005          -4542
2               Married  House / apartment      -21474          -1134
3  Single / not married  House / apartment      -19110          -3051
4  Single / not married  House / apartment      -19110          -3051
5  Single / not married  House / apartment      -19110          -3051
6  Single / not married  House / apartment      -19110          -3051
7             Separated  House / apartment      -22464         365243
8             Separated  House / apartment      -22464         365243
9             Separated  House / apartment      -22464         365243

   FLAG_MOBIL  FLAG_WORK_PHONE  FLAG_PHONE  FLAG_EMAIL OCCUPATION_TYPE  \
0           1                1           0           0             NaN
1           1                1           0           0             NaN
2           1                0           0           0  Security staff
3           1                0           1           1     Sales staff
4           1                0           1           1     Sales staff
5           1                0           1           1     Sales staff
6           1                0           1           1     Sales staff
7           1                0           0           0             NaN
8           1                0           0           0             NaN
9           1                0           0           0             NaN

   CNT_FAM_MEMBERS
0              2.0
1              2.0
2              2.0
3              1.0
4              1.0
5              1.0
6              1.0
7              1.0
8              1.0
9              1.0

In [25]:
round(set_completo.drop(['ID', 'FLAG_MOBIL', 'FLAG_WORK_PHONE', 'FLAG_PHONE', 'FLAG_EMAIL'], axis=1).describe())

,CNT_CHILDREN,AMT_INCOME_TOTAL,DAYS_BIRTH,DAYS_EMPLOYED,CNT_FAM_MEMBERS
count,439215.0,439215.0,439215.0,439215.0,439215.0
mean,0.0,187540.0,-15998.0,60558.0,2.0
std,1.0,110113.0,4185.0,138762.0,1.0
min,0.0,26100.0,-25201.0,-17531.0,1.0
25%,0.0,121500.0,-19482.0,-3102.0,2.0
50%,0.0,160200.0,-15629.0,-1467.0,2.0
75%,1.0,225000.0,-12513.0,-371.0,3.0
max,19.0,6750000.0,-7489.0,365243.0,20.0

In [26]:
set_completo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 439215 entries, 0 to 439214
Data columns (total 18 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   ID                   439215 non-null  int64
 1   CODE_GENDER          439215 non-null  object
 2   FLAG_OWN_CAR         439215 non-null  object
 3   FLAG_OWN_REALTY      439215 non-null  object
 4   CNT_CHILDREN         439215 non-null  int64
 5   AMT_INCOME_TOTAL     439215 non-null  float64
 6   NAME_INCOME_TYPE     439215 non-null  object
 7   NAME_EDUCATION_TYPE  439215 non-null  object
 8   NAME_FAMILY_STATUS   439215 non-null  object
 9   NAME_HOUSING_TYPE    439215 non-null  object
 10  DAYS_BIRTH           439215 non-null  int64
 11  DAYS_EMPLOYED        439215 non-null  int64
 12  FLAG_MOBIL           439215 non-null  int64
 13  FLAG_WORK_PHONE      439215 non-null  int64
 14  FLAG_PHONE           439215 non-null  int64
 15  FLAG_EMAIL           439215 non-null  int64
 16  OCCUPATION_TYPE      304830 non-null  object
 17  CNT_FAM_MEMBERS      439215 non-null  float64
dtypes: float64(2), int64(8), object(8)
memory usage: 60.3+ MB